/* testing part of css (delete before launch) */

/* div, aside, header, footer, section, main, img, p {outline: 1px dashed red;}

.text {
	outline: 1px dashed red;
}

div, aside, header, footer, section, img, p {
	outline: 1px dashed red;
}

p {
	margin: 0;
	padding: 0;
} */
// end of testing


html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.sidebar {
	padding-right: 1%;
}

body {
	background-color: #005BB7;
}

#navButton_home {
	box-shadow: inset -5px 0px 25px black;
}
#navButton_about {
	box-shadow: 1px 0px 5px white;
}
#navButton_portfolio {
	box-shadow: 1px 0px 5px white;
}
#navButton_contact {
	box-shadow: 1px 0px 5px white;
}

.content {
	height: auto;
	width: 100%;
}

.sidebar {
	float: left;
	width: 10%;
}

.main {
	float: left;
	width: 80%;
}

#imgageHolder_logo {
	box-sizing: border-box;
	padding-left: 15%;
	padding-top: 2%;
}

.mainText {
	padding-left: 2%;
	padding-right: 2%;
}
.main_bg {
	width: 100%;
	height: 100%;
}

#main_bg_home {
	background-color: #005BB7;
}
#main_bg_about {
	background-color: #004080;
}
#main_bg_portfolio {
	background-color: #8080C0;
}
#main_bg_contact {
	background-color: #0080FF;
}

/* ***** SIDEBAR ***** */
.navButton {
	width: 100%;
	height: 25%;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}
.navButton_content {
  max-width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 2%;
}



#navButton_home {
	background-color: #005BB7;
}
#navButton_about {
	background-color: #004080;
}
#navButton_portfolio {
	background-color: #8080C0;
}
#navButton_contact {
	background-color: #0080FF;
}

/*
<div class="navButton" id="navButton_home"></div>
<div class="navButton" id="navButton_about"></div>
<div class="navButton" id="navButton_portfolio"></div>
<div class="navButton" id="navButton_contact"></div>
*/