/* testing part of css (delete before launch) */
/* 

div, aside, header, footer, section, main, img, p {outline: 1px dashed red;}

.text {
	outline: 1px dashed red;
}

div, aside, header, footer, section, img, p {
	outline: 1px dashed red;
}

p {
	margin: 0;
	padding: 0;
}

 */
// end of testing


html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.sidebar {
	padding-right: 1%;
	z-index: 1;
	float: left;
	width: 10%;
}

#navButton_home {
	box-shadow: 1px 0px 5px black;
}
#navButton_about {
	box-shadow: inset -5px 0px 25px black;
}
#navButton_portfolio {
	box-shadow: inset -5px 0px 25px black;
}
#navButton_contact {
	box-shadow: inset -5px 0px 25px black;
}
.navButton {
	cursor: pointer;
	cursor: hand;
}

.content {
	height: auto;
	width: 100%;
/*	max-width: 960px;
*/}


.main {
	position: relative;
	float: left;
	width: 80%;
	min-width: 540px;
	z-index: -5;
}

.wit {
	color: lightgray;
}

.mainText {
	padding-left: 2%;
	padding-right: 2%;
}
.mainText_p1 {
	position: relative;
	z-index: 1
}


.main_bg {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: -10;
}

#main_bg_home {
	background-color: #348536;
}
#main_bg_about {
	background-color: #335284;
}
#main_bg_portfolio {
	background-color: #4D4D4D;
}
#main_bg_contact {
	background-color: #BA231B;
}


/* ***** SIDEBAR ***** */
.navButton {
	width: 100%;
	min-width: 100px;
	height: 25%;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	z-index: 5;
}
.navButton_content {
	font-weight: bold;
	font-size: 110%;
	max-width: 100%;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	padding-left: 10%;
}



/* ***** FORM ***** */
#contactForm {
	width: 100%;
	position: relative;
	z-index: 15;
}
.formField {
	border-radius: 10px;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	width: 100%;
	min-width: 240px;
	display: block;
	overflow: auto;
}
.formLabel {
	display: inline-block;
	float: left;
	clear: left;
	width: 25%;
	text-align: right;
	padding-right: 1%;
}
.formInput {
	border-radius: 2px;
	display: inline-block;
	float: left;
	width: 30%;
}
#formInput_button {
	background: #348536;
	background: -moz-linear-gradient(top, #348536 0%, #266227 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #348536), color-stop(100%, #266227));
	background: -webkit-linear-gradient(top, #348536 0%, #266227 100%);
	background: -o-linear-gradient(top, #348536 0%, #266227 100%);
	background: -ms-linear-gradient(top, #348536 0%, #266227 100%);
	background: linear-gradient(to bottom, #348536 0%, #266227 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#348536', endColorstr='#236b23', GradientType=0 );

	border-radius: 5px;
	border: 1px solid #266227;
	display: inline-block;
	float: left;
	width: 10%;
	padding-top: 1%;
	padding-bottom: 1%;
}
#formInput_button:hover {
	background: #215622;
	background: -moz-linear-gradient(top, #215622 0%, #266227 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #215622), color-stop(100%, #266227));
	background: -webkit-linear-gradient(top, #215622 0%, #266227 100%);
	background: -o-linear-gradient(top, #215622 0%, #266227 100%);
	background: -ms-linear-gradient(top, #215622 0%, #266227 100%);
	background: linear-gradient(to bottom, #215622 0%, #266227 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#215622', endColorstr='#236b23', GradientType=0 );
}
#marginForButton {
	display: inline-block;
	float: left;
	clear: left;
	min-width: 1px;
	width: 25%;
	padding-right: 1%;
}
.focusFormField {
	background: #771611;
}
#formIntro {
	padding-bottom: 1%;
}
.error {
	color: yellow;
}



/* ***** IMAGES ***** */
	/* logo */
#imgageHolder_logo {
	box-sizing: border-box;
	padding-left: 15%;
	padding-top: 2%;
	width: 40%;
}
#image_logo {
	width: 100%;
	height: 100%;
}

/* watermarks */
	/* home */
#imageHolder_watermark_home {
	width: 30%;
	float: right;
	position: fixed;
	bottom: 5%;
	right: 5%;
	z-index: -4;
}
#image_watermark_home {
	max-width: 100%;
}
	/* about */
#imageHolder_watermark_about {
	width: 8%;
	float: right;
	position: fixed;
	bottom: 5%;
	right: 5%;
	z-index: -4;
}
#image_watermark_about {
	max-width: 100%;
}
	/* portfolio */
#imageHolder_watermark_portfolio {
	width: 20%;
	float: right;
	position: fixed;
	bottom: 5%;
	right: 5%;
	z-index: -4;
}
#image_watermark_portfolio {
	/* width: 100%; */
	max-width: 100%;
}
	/* contact */
#imageHolder_watermark_contact {
	width: 20%;
	float: right;
	position: fixed;
	bottom: 5%;
	right: 5%;
	z-index: -4;
}
#image_watermark_contact {
	max-width: 100%;
}