



body {
	background-color: #B2AFAF;
	font-family: Verdana, Geneva, sans-serif;
}

h2, h1, h3, h4 {
	margin-top: 1%;
	margin-bottom: 1%;
	padding-left: 1%;
	padding-bottom: 1%;
}


.productContainer {
	width: 100%;
	height: 10%;
	padding: 1%;
}

.productImage {
	width: 30%;
	height: 20%;
	float: left;
}

.productBeschrijving {
	width: 90%;
}

.productPrijs {
	float: right;
}

.content {
	width: 60%;
	max-width: 750px;
	min-width: 380px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.toBlur {
	-webkit-filter: blur(5px);
	position: relative;
}

.zetInBox {
	box-sizing: border-box;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid grey;
	background-color: #F1F2F1;
	margin-bottom: 1%;
	padding: 1%;
}

.zetLinks {
	float: left;
}

.onTheSide img {
	width: 30%;
	padding-left: 10%;

}
#ticketMandje {
	display: none;
	width: 60%;
}

#ticketMandje h2 {
	margin-left: 0;
	padding-left: 0;
}

.boxInBox {
/*	display: inline;
*/	width: 30%;
	float: right;
	padding: 0.5%;
	margin: 0;
}

.sidebarRight{
	width: 20%;
	position: fixed;
	margin-left: 60%;
	padding: 0.5%;
}
#aantalPizza, #aantalDrank {
	font-family: Impact, Charcoal, sans-serif;
	float: left;
	font-size: 2.5em;
	margin-top: 2%;
	padding-left: 1%;
}
#pizzaMandje, #drankMandje {
	float: right;
}



.toppingContainer {
	width: 100%;
	height: 100%;
	background: Gainsboro;
	border: 1px solid grey;
	float: left;
}

.toppingElement {
	width: 100%;
	float: left;
/*	padding-top: auto;
	padding-bottom: auto;*/
}

.toppingTitel {
	color: #CE2B37;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
}

.toppingPrijsContainer {
	color: #CE2B37;
	display: inline;
	font-size: 0.9em;
}

.toppingContainerTitel {
	margin-top: 1%;
	margin-bottom: 1%;
}

.drankBestellenKnop {

}

.toppingBestelKnop, .terugKnop {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #CE2B37), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #CE2B37 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #CE2B37 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #CE2B37 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #CE2B37 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #CE2B37 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#CE2B37', endColorstr='#c62d1f',GradientType=0);
	background-color:#CE2B37;
	cursor:pointer;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #d02718;
	color:#F1F2F1;
}


.bestellenKnop, #naarDeKassa {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #009246), color-stop(1, #00924B));
	background:-moz-linear-gradient(top, #009246 5%, #00924B 100%);
	background:-webkit-linear-gradient(top, #009246 5%, #00924B 100%);
	background:-o-linear-gradient(top, #009246 5%, #00924B 100%);
	background:-ms-linear-gradient(top, #009246 5%, #00924B 100%);
	background:linear-gradient(to bottom, #009246 5%, #00924B 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#009246', endColorstr='#00924B',GradientType=0);
	background-color:#009246;
	cursor:pointer;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #128D1C;
	color:#F1F2F1;
}

/*.promo {
	border: 2px solid #CE2B37;
}*/

.bestellenKnop:hover, #naarDeKassa:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #00924B), color-stop(1, #008000));
	background:-moz-linear-gradient(top, #00924B 5%, #008000 100%);
	background:-webkit-linear-gradient(top, #00924B 5%, #008000 100%);
	background:-o-linear-gradient(top, #00924B 5%, #008000 100%);
	background:-ms-linear-gradient(top, #00924B 5%, #008000 100%);
	background:linear-gradient(to bottom, #00924B 5%, #008000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00924B', endColorstr='#008000',GradientType=0);
	background-color:#00924B;
}

#naarDeKassa {
	font-size: 90%;
	font-weight: bolder;
	width: 40%;
	margin-top: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.bestellenKnop, .toppingBestelKnop {
	float: right;
}

.bestellenKnop, .terugKnop {
	font-size: 100%;
	font-weight: bold;
	width: 30%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.terugKnop {
	float: left;
}



.toppingItem pre {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
}

.pizzaBestellenKnop, .drankBestellenKnop {
	box-sizing: border-box;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #CE2B37), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #CE2B37 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #CE2B37 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #CE2B37 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #CE2B37 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #CE2B37 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#CE2B37', endColorstr='#c62d1f',GradientType=0);
	background-color:#CE2B37;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#F1F2F1;
	font-family:verdana;
	font-size:130%;
	padding:0.5em 31px;
	text-decoration:none;
	margin-bottom: 1%;
	margin-top: 1%;
}
.pizzaBestellenKnop:hover, .drankBestellenKnop:hover, .toppingBestelKnop:hover, .terugKnop:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}
.pizzaBestellenKnop:active, .drankBestellenKnop:active {
	position:relative;
	top:1px;
}






.prijsPizza {
	color: #F1F2F1;
	box-sizing: border-box;
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	font-weight: bold;
	padding:0.5em;
	background-color:#009246;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #00924B;
	text-align: center;
}

.bestelKnopPizza {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #CE2B37), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #CE2B37 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #CE2B37 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #CE2B37 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #CE2B37 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #CE2B37 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#CE2B37', endColorstr='#c62d1f',GradientType=0);
	background-color:#CE2B37;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #d02718;
	cursor:pointer;
	color:#ffffff;
	font-size:110%;
	padding:0.5em;
	text-decoration:none;
	display: block;
	width: 60%;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
}
.bestelKnopPizza:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}
.bestelKnopPizza:active {
	position:relative;
	top:1px;
}
button:focus {outline:0;}

.toonMandje {
  	position: absolute;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#filterBox{
	margin-top: 2%;
}

.naastElkaar {
	display: inline;
	width: 24%;
}

.duidelijker {
	font-weight: bold;
	font-size: 110%;
}

#menuTitel{
	margin: 0;
	padding: 0;
	color: #009246;
	font-size: 500%;
}

.kleiner {
	font-size: 80%;
}


.eRij {
	display: table;
}

.kolomLinks, .kolomRechts, .kolomMidden {
	display: table-cell;
}

/*.vuilbakje {
	width: 3000%;
}*/


#titelMandje {
	display: inline;
}

#linkMandjeLeegmaken{
	color: #c62d1f;
	display: inline;
	float: right;
}



.kolomLinks{
/*	float: left;
*/	width: 55%;
	box-sizing: border-box;
	padding-right: 2%;
}
.kolomRechts{
/*	float: right;
*/	width: 15%;
	box-sizing: border-box;
	padding-left: 2%;
}
.kolomMidden{
/*	display: inline-block;
*/	width: 30%;
	box-sizing: border-box;
}

.breedte40 {
	width: 15%;
}

.inHetRood {
	color: #CE2B37;
}






/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}